* {
  box-sizing: border-box;
}
@media (min-width: 1200px) {  
html, body {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  background-color: rgb(50,50,50);
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 0px 30px 0px;
  width: 100%;
  max-width: 100%; 
  z-index: 5;
  transition: background-color ease-in 0.07s; 
}
.name {
  font-size: 30px;
  color: grey;
  padding: 0 900px 0 40px;
  cursor: pointer;
  transition: color ease-in 0.07s;
}
.name:hover { 
  color: rgb(180,180,180) !important;
 }
table.scroll-anchors { 
  position: absolute;
  right: 20px;
  display: inline;
  font-size: 17px;
 }
table.scroll-anchors a:hover{
  color: rgb(180,180,180) !important;
  cursor: pointer;
}
a.about {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.education {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.work {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.certificates {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.volunteer {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.tutoring {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.connect {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
.tint-block {
  position: absolute;
  height: 800px;
  width: 100%;
  max-width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 2;
}
.rocket-engine {
  background-image: url("rocketIMG.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
  position: absolute;
  top: 0px;
  height: 3450px;
  width: 100%;
  max-width: 100%;
}
.big-name {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 330px;
  font-family: Times;
  font-size: 50px;
  color: white;
  border-top: 1px solid white;
  padding: 10px 0px;
  width: 380px;
  z-index: 3;
}
.work-titles {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 315px;
  font-family: Times;
  font-size: 20px;
  color: white;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid white;
  width: 380px;
  z-index: 3;
}
.center { 
  text-align: center; 
 }
.first-block { 
  position: absolute;
  top: 800px;
  background-color: black;
  height: 850px;
  width: 100%;
  margin: 0 auto;
 }
 .Text-Panel {
  display: inline-block;
  vertical-align: top; 
  position: relative;
  margin: 105px 50px 50px 150px;
  height: 640px;
  width: 540px;
  border: 1px solid white;
  background-color: transparent;
  text-align: initial !important;
}
.Text-Panel p { 
  white-space: normal;
  text-align: justify;
  position: relative;
  left: 70px;
  bottom: -130px;
  width: 400px;
  color: white;
  z-index: 4;
}
.Text-Panel h1 { 
  position: relative;
  font-size: 40px;
  font-weight: normal;
  top: 110px;
  left: 70px;
  color: white;
  z-index: 4;
 }
.photo-holder { 
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 115px 50px 50px 75px;
  height: 620px;
  width: 500px;
  background-color: transparent;
  }
.photo-holder img {
  position: relative;
  top: 10px;
  height: 600px;
  object-fit: contain;
 }
 
.second-block {
  position: absolute;
  top: 1650px;
  margin: 0px auto;
  height: 705px;
  width: 100%;
  background-color: black;
  opacity: 0.8; 
  z-index: 2;
} 
.second-block table { 
  vertical-align: top;
  position: relative;
  top: 0px;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 133px;
  text-align: left;
  background-color: transparent;
  color: white;
  margin: 0 auto;
 }
.second-block table tr:nth-child(1) {
 position: relative;
  font-size: 40px;
  height: 125px;
  left: 30px;
  }
.second-block table tr:nth-child(5), tr:nth-child(9) {
  height: 20px; 
}
.icon-one { 
  position: absolute; 
  left: 40px;
  bottom: 225px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
.icon-two { 
  position: absolute; 
  left: 40px;
  bottom: 313px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .icon-three { 
  position: absolute; 
  left: 40px;
  bottom: 137px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .edu-button { 
  position: absolute; 
  bottom: 145px;
  left: 1075px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid black;
  font-family: Times;
  font-size: 15px;
  color: black;
  background-color: transparent; 
  }
  .edu-button:hover { 
  color: black;
  background-color: white; 
  }
.second-block .campus-building {
  vertical-align: top;
  display: inline-block; 
  position: relative;
  top: 100px;
  right: 400px;
  object-fit: cover; 
  height: 500px; 
  width: 800px;
 }
.third-block {
  position: absolute;
  top: 2355px;
  margin: 0px auto;
  height: 757px;
  width: 100%;
  background-color: black;
  opacity: 0.8; 
  z-index: 3;
} 
.third-block table { 
  /*position: absolute;*/
  top: -250px;
  left: 0px;
  text-align: left;
  width: 940px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 90px;
  background-color: transparent;
  color: white;
  z-index: 3;
  margin: 0 auto;
 }
.third-block table tr:nth-child(1) {
 position: relative;
  font-size: 40px;
  height: 125px;
  left: 217px;
  }
.third-block table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13)  {
  height: 20px; 
}
.third-block .job-title { 
  padding-bottom: 35px;
  line-height: 23px;
 }
.third-block .description { 
  padding-left: 40px;
 }
.third-block .icon-one { 
  position: absolute; 
  left: 40px;
  bottom: 420px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
.third-block .icon-two { 
  position: absolute; 
  left: 40px;
  bottom: 512px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .third-block .icon-three { 
  position: absolute; 
  left: 40px;
  bottom: 285px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
  .third-block .icon-four { 
  position: absolute; 
  left: 40px;
  bottom: 145px;
  height: 60px;
  width: 60px;
  z-index: 3;
  }
.third-block button {
  position: relative;
  top: -280px;
  margin: 0px auto ;
  height: 50px;
  width: 175px;
  color: white;
  background-color: transparent;
  border: 1px solid white
 }
 .third-block button:hover  { 
  background-color: white; 
  color: black;
  }
.third-block .campus-building {
  vertical-align: top;
  display: inline-block; 
  position: relative;
  top: 100px;
  left: 595px;
  object-fit: cover; 
  height: 500px; 
  width: 800px;
 }
#wall { 
  position: absolute;
  top: 3112px;
  margin: 0px auto ;
  height: 550px;
  width: 100%;
  background-color: black;
 }
 
#wall h1, h3, table { 
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}
#wall  h1 { 
  font-size: 40px;
}
#wall  h3 { 
  font-size: 25px;
}
#wall table {
  position: relative;
  top: 40px;
  margin: auto;
  width: 900px;
  color: white;
}
#wall .title-table { 
  height: 45px;
}
#wall tr{ 
  height: 30px;
}
#wall button.quote { 
  position: relative;
  top: 80px ;
  left: 90px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
}
#wall button.quote:hover { 
  color: black;
  background-color: white;
 }
.bord { 
  position: relative;
  top: 50px;
  margin: auto;
  height: 450px ;
  width: 900px;
  background-color: transparent;
}
.bord .form { 
  position: relative;
  top: 40px;
  left: 280px;
  width: 130px;
  color: white;
  display: none;
  z-index: 1;
 }
 .bord .form div { 
    width: 330px;
    padding-top: 12px;
 }
 .bord .form input {
  margin-top: 2px;
  height: 25px; 
  font-family: Times; 
  font-size: 15px;
  }
.bord .form label.last-name-label { 
  position: relative;
  left: 92px;
}
.bord .form input.first-name {
  margin-right: 6px;  
  width: 156px;
}  

.bord .form input.last-name {  
  margin-left: 6px;  
    width: 156px;
}

.bord .form .email { 
    width: 330px;
 }
 .bord .form textarea.comments {
    position: relative;
    left: -195px; 
    margin-top: 2px;
    height: 150px;
    width: 730px;
    font-family: Times; 
    font-size: 15px;
    resize: none; 
 }
 #wall .form button.submit {
  position: absolute;
  top: 327px;
  left: 88px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
}
#wall .form button.submit:hover { 
  color: black;
  background-color: white;
 }
#wall .linkedin { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 100px;
  left: 100px;
}
#wall .github { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 100px;
  left: 223px;
  filter: invert(100);
}
#wall .gmail { 
  position: relative;
  object-fit: contain;
  width: 200px;
  top: 90px;
  left: 346px;
}
/*Define vars we'll be using*/
.form-two {
  position: absolute;
  top: 125px;
  left: 175px;
  display: none;
 }
.circle-loader {
  margin-bottom: 3.5em;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  top: -10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 2.8em;
  width: 1.25em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.45em;
  top: 3.1em;
  position: absolute;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
  }
}
.form-two div.output-message { 
  position: absolute;
  top: 110px;
  left: -49px;
  color: white; 
  font-size: 25px;
  font-weight: bold;
  display: none; 
 }
 .form-two div.output-message-two {
  position: absolute; 
  top: 148px;
  left: -95px;
  color: white ;
  font-size: 15px;
  display: none; 
 }
.form-two button.submit-reset {
  position: absolute;
  top: 243px;
  left: -37px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
  display: none;
}
.form-two button.submit-reset:hover { 
  color: black;
  background-color: white;
 }
}
@media (max-width: 1199px) { 
  html, body {
    display: none;
    position: relative;
    max-width: 100%;
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    background-color: rgb(50,50,50);
  }
} 
