* {
  box-sizing: border-box;
}
html, body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 0px 30px 0px;
  width: 100%;
  max-width: 100%; 
  z-index: 5;
  transition: background-color ease-in 0.07s; 
}
.name {
  font-size: 30px;
  color: grey;
  padding: 0 900px 0 40px;
  cursor: pointer;
  transition: color ease-in 0.07s;
}
a.about:hover, a.cv:hover, a.connect:hover  {
  color: white !important;
  cursor: pointer;
}
a.about {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.cv {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.connect {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
img.jet-engine {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  overflow: hidden; 
  height: 800px;
  width: 100%;
  z-index: 2;
  filter: grayscale(100%);

}
.tint-block {
  position: relative;
  bottom: 904px;
  height: 900px;
  width: 100wh;
  max-width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 3;
}
.big-name {
  text-align: center;
  position: relative;
  bottom: 1395px;
  left: 530px;
  font-family: Times;
  font-size: 50px;
  color: white;
  border-top: 1px solid white;
  padding: 10px 0px;
  width: 380px;
  z-index: 3;
}
.work-titles {
  text-align: center;
  position: relative;
  bottom: 1410px;
  left: 530px;
  font-family: Times;
  font-size: 20px;
  color: white;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid white;
  width: 380px;
  z-index: 3;
}
.tint-back-panel { 
  position: relative;
  bottom: 0px;
  height: 2720px;
  width: 100%;
  max-width: 100%;
  background-color: hsla(0,0%,9%,0.2);
  z-index: 2;
 }
.About {
  position: relative;
  background-color: white;
  bottom: 1065px;
  height: 720px;
  width: 100%;
  z-index: 3;
}
.center-device {  
  background-color: transparent;
 }
 .photo-holder { 
  position: relative;
  top: -550px;
  left: 815px;
  height: 620px;
  width: 500px;
  background-color: transparent;
  z-index: 1;
  }
  .photo-holder img {
  position: relative;
  top: 10px;
  object-fit: contain;
  height: 600px;
  box-shadow: 5px 5px 5px grey; 
  z-index: 2; 
  transition: all .2s ease-in-out;
 }
 .photo-holder img:hover {
  transform: scale(1.01);
 }
.Text-Panel {
  position: relative;
  margin: 0px ;
  left: 150px;
  top: 60px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  height: 640px;
  width: 540px;
  z-index: 3;
  transition: all .2s ease-in-out;
}
.Text-Panel:hover {
  transform: scale(1.01);
}
.Text-Panel p { 
  white-space: normal;
  text-align: justify;
  position: relative;
  left: 70px;
  bottom: -130px;
  width: 400px;
  color: white;
  z-index: 4;
}
.Text-Panel h1 { 
  position: relative;
  font-size: 40px;
  font-weight: normal;
  top: 110px;
  left: 70px;
  color: white;
  z-index: 4;
 }

.background-image {
  position: relative;
  object-fit: contain;
  width: 900px;
  left: 430px;
  bottom: 270px;
  z-index: 1;
  opacity: 0.3;
}
.block-image {
  position: absolute;
  top: 1646px;
  margin: 0px ;
  object-fit: contain;
  background-color: black;
  padding: 20px 0;
  height: 340px;
  width: 1440px;
  opacity: 1;
  z-index: 1;
}
#third-wall {
  background-image: url("./engineeringSchool.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 420px 0px;
  position: relative;
  top: -440px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
} 
#third-wall:hover { 
  transform: scale(1.01);
  }
#third-wall table { 
  position: absolute;
  top: 0px;
  text-align: left;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 133px;
  background-color: rgb(20,20,20);
 }
 #third-wall table tr:nth-child(1) { 
  font-size: 35px;
  height: 95px;
  }
#third-wall table tr:nth-child(5), tr:nth-child(9) {
  height: 20px; 
 }
.foothill-icon { 
  position: absolute; 
  left: 40px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .uci-icon { 
  position: absolute; 
  left: 40px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .school-icon { 
  position: absolute; 
  left: 40px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .edu-button { 
  position: absolute; 
  bottom: 95px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
  }
  .edu-button:hover { 
  color: black;
  background-color: white; 
  }
.bottom-block { 
  position: absolute;
  top: 480px;
  background-color: rgb(20,20,20);
  height: 70px;
  width: 1100px;
  z-index: 1;
 }
 #fourth-wall {
  background-image: url("./engineeringSchool.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 420px 0px;
  position: relative;
  top: -350px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
} 
#fourth-wall:hover { 
  transform: scale(1.01);
  }
#fourth-wall table { 
  position: absolute;
  top: 0px;
  text-align: left;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 133px;
  background-color: rgb(20,20,20);
 }
 #fourth-wall table tr:nth-child(1) { 
  font-size: 35px;
  height: 95px;
  }
#fourth-wall table tr:nth-child(5), tr:nth-child(9) {
  height: 20px; 
 }
#wall { 
  background-image: url("./LaptopImage2.jpeg");
  background-repeat: no-repeat;
  background-size: 1100px 485px;
  position: relative;
  top: -260px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
 }
 #wall:hover { 
  transform: scale(1.01);
  }
#wall h1, h3, table { 
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}
#wall  h1 { 
  font-size: 35px;
}
#wall  h3 { 
  font-size: 25px;
}
#wall table {
  position: relative;
  top: 40px;
  margin: auto;
  width: 400px;
  color: white;
}
#wall .title-table { 
  height: 45px;
}
#wall tr{ 
  height: 30px;
}
#wall button.quote { 
  position: relative;
  top: 80px ;
  left: 138.25px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
}
#wall button.quote:hover { 
  color: black;
  background-color: white;
 }
.bord { 
  position: relative;
  top: 50px;
  margin: auto;
  height: 450px ;
  width: 450px;
  border: 1px solid white;
  background-color: rgb(20,20,20);
}
.bord .form { 
  position: relative;
  top: 40px;
  left: 60px;
  width: 130px;
  color: white;
  display: none;
  z-index: 1;
 }
 .bord .form div { 
    width: 330px;
    padding-top: 12px;
 }
 .bord .form input {
  margin-top: 2px;
  height: 25px; 
  font-family: Times; 
  font-size: 15px;
  }
.bord .form label.last-name-label { 
  position: relative;
  left: 92px;
}
.bord .form input.first-name {
  margin-right: 6px;  
  width: 156px;
}  

.bord .form input.last-name {  
  margin-left: 6px;  
    width: 156px;
}

.bord .form .email { 
    width: 330px;
 }
 .bord .form textarea.comments { 
    margin-top: 2px;
    height: 150px;
    width: 330px;
    font-family: Times; 
    font-size: 15px;
    resize: none; 
 }
 #wall .form button.submit {
  position: absolute;
  top: 327px;
  left: 78px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
}
#wall .form button.submit:hover { 
  color: black;
  background-color: white;
 }
 .secondWall { 
  position: relative;
  top: -190px;
  margin: 0px auto;
  height: 550px;
  width: 1100px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
 }
 .secondWall:hover { 
  transform: scale(1.01);
  } 
.secondWall h1 { 
  position: relative;
  top: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: normal;
 }
.secondWall .linkedin { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 200px;
}
.secondWall .github { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 323px;
  filter: invert(100);
}
.secondWall .gmail { 
  position: relative;
  object-fit: contain;
  width: 200px;
  top: 140px;
  left: 446px;
}
/*Define vars we'll be using*/
.form-two {
  position: absolute;
  top: 125px;
  left: 175px;
  display: none;
 }
.circle-loader {
  margin-bottom: 3.5em;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  top: -10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 2.8em;
  width: 1.25em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.45em;
  top: 3.1em;
  position: absolute;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
  }
}
.form-two div.output-message { 
  position: absolute;
  top: 110px;
  left: -49px;
  color: white; 
  font-size: 25px;
  font-weight: bold;
  display: none; 
 }
 .form-two div.output-message-two {
  position: absolute; 
  top: 148px;
  left: -95px;
  color: white ;
  font-size: 15px;
  display: none; 
 }
.form-two button.submit-reset {
  position: absolute;
  top: 243px;
  left: -37px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
  display: none;
}
.form-two button.submit-reset:hover { 
  color: black;
  background-color: white;
 }


