* {
  box-sizing: border-box;
}
html, body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  white-space: nowrap;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 0px 30px 0px;
  width: 100%;
  z-index: 5;
  transition: background-color ease-in 0.07s; 
}
.name {
  font-size: 30px;
  color: grey;
  padding: 0 900px 0 40px;
   transition: color ease-in 0.07s;
}

a.about:hover, a.cv:hover, a.connect:hover  {
  color: white;
}
a.about {
  color: grey;
  padding: 0 20px;
  transition: color ease-in 0.07s;
}
a.cv {
  color: grey;
  padding: 0 20px;
  transition: color ease-in 0.07s;
}
a.connect {
  color: grey;
  padding: 0 20px;
  transition: color ease-in 0.07s;
}
img.jet-engine {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  overflow: hidden; 
  height: 800px;
  width: 1440px;
  z-index: 2;
  filter: grayscale(100%);
}
.tint-block {
  position: relative;
  bottom: 904px;
  height: 900px;
  width: 1440px;
  background-color: black;
  opacity: 0.85;
  z-index: 3;
}
.big-name {
  text-align: center;
  position: relative;
  bottom: 1395px;
  left: 530px;
  font-family: Times;
  font-size: 50px;
  color: white;
  border-top: 1px solid white;
  padding: 10px 0px;
  width: 380px;
  z-index: 3;
}
.work-titles {
  text-align: center;
  position: relative;
  bottom: 1410px;
  left: 530px;
  font-family: Times;
  font-size: 20px;
  color: white;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid white;
  width: 380px;
  z-index: 3;
}
.tint-back-panel { 
  position: relative;
  margin: 0px auto;
  bottom: 0px;
  height: 2220px;
  width: 100%;
  background-color: hsla(0,0%,9%,0.2);
  z-index: 2;
 }
.About {
  position: relative;
  background-color: white;
  bottom: 1065px;
  height: 720px;
  width: 1440px;
  z-index: 3;
}
 .photo-holder { 
  position: relative;
  top: -550px;
  left: 815px;
  height: 620px;
  width: 500px;
  background-color: transparent;
  z-index: 1;
  }
  .photo-holder img {
  position: relative;
  top: 10px;
  object-fit: contain;
  height: 600px;
  box-shadow: 5px 5px 5px grey; 
  z-index: 2; 
  transition: all .4s ease-in-out;
 }
 .photo-holder img:hover {
  transform: scale(1.02);
 }
.Text-Panel {
  position: relative;
  margin: 0px ;
  left: 150px;
  top: 60px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  height: 640px;
  width: 540px;
  z-index: 3;
  transition: all .4s ease-in-out;
}
.Text-Panel:hover {
  transform: scale(1.02);
}
.Text-Panel p { 
  white-space: normal;
  text-align: justify;
  position: relative;
  left: 70px;
  bottom: -130px;
  width: 400px;
  color: white;
  z-index: 4;
}
.Text-Panel h1 { 
  position: relative;
  font-size: 40px;
  font-weight: normal;
  top: 110px;
  left: 70px;
  color: white;
  z-index: 4;
 }

.background-image {
  position: relative;
  object-fit: contain;
  width: 900px;
  left: 430px;
  bottom: 270px;
  z-index: 1;
  opacity: 0.3;
}
.block-image {
  position: absolute;
  top: 1646px;
  margin: 0px ;
  object-fit: contain;
  background-color: black;
  padding: 20px 0;
  height: 340px;
  width: 1440px;
  opacity: 1;
  z-index: 1;
}
.wall { 
  position: relative;
  top: -440px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  transition: all .4s ease-in-out;
 }
 .wall:hover { 
  transform: scale(1.02);
  }
.wall h1, h3, table { 
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}
.wall  h1 { 
  font-size: 35px;
}
.wall  h3 { 
  font-size: 25px;
}
.wall table {
  position: relative;
  top: 40px;
  margin: auto;
  width: 400px;
  color: white;
}
.wall .title-table { 
  height: 45px;
}
.wall tr{ 
  height: 30px;
}
.wall button { 
  position: relative;
  top: 80px ;
  left: 138.25px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
}
.wall button:hover { 
  color: black;
  background-color: white;
 }
.bord { 
  position: relative;
  top: 50px;
  margin: auto;
  height: 450px ;
  width: 450px;
  border: 1px solid white;
  background-color: black;
}
.secondWall { 
  position: relative;
  top: -350px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  transition: all .4s ease-in-out;
 }
 .secondWall:hover { 
  transform: scale(1.02);
}
.secondWall h1 { 
  position: relative;
  top: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: normal;
 }
 .secondWall img { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 475px;
}


