* {
  box-sizing: border-box;
}
@media (min-width: 1200px) {  
html, body {
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  height: 100%;
  width: 100%;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 0px 30px 0px;
  width: 100%;
  max-width: 100%; 
  z-index: 5;
  transition: background-color ease-in 0.07s; 
}
.name {
  font-size: 30px;
  color: grey;
  padding: 0 900px 0 40px;
  cursor: pointer;
  transition: color ease-in 0.07s;
}
.name:hover { 
  color: rgb(180,180,180) !important;
 }
table.scroll-anchors { 
  position: absolute;
  right: 20px;
  display: inline;
  font-size: 17px;
 }
table.scroll-anchors a:hover{
  color: rgb(180,180,180) !important;
  cursor: pointer;
}
a.about {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.education {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.work {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.certificates {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.volunteer {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.tutoring {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
a.connect {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
}
.tint-block {
  position: absolute;
  height: 800px;
  width: 100%;
  max-width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 2;
}
.jet-engine {
  background-image: url("images/UseForWebsite.png");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
  background-position: 0px -110px;
  margin: 0px;
  padding: 0px;
  overflow: hidden; 
  height: 800px;
  width: 100%;
  filter: grayscale(100%);
  z-index: 1;
}
.rocket-engine {
  background-image: url("rocketIMG.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover; 
  position: absolute;
  top: 0px;
  height: 3450px;
  width: 100%;
  max-width: 100%;
}
.big-name {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 330px;
  font-family: Times;
  font-size: 50px;
  color: white;
  border-top: 1px solid white;
  padding: 10px 0px;
  width: 380px;
  z-index: 3;
}
.work-titles {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 315px;
  font-family: Times;
  font-size: 20px;
  color: white;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid white;
  width: 380px;
  z-index: 3;
}
.first-block {  
  position: absolute;
  top: 800px;
  background-color: rgb(20,20,20);
  height: 850px;
  width: 100%;
  margin: 0 auto;
 }
 .Text-Panel {
  display: inline-block;
  vertical-align: top; 
  position: relative;
  margin: 105px 50px 50px 150px;
  height: 640px;
  width: 540px;
  border: 1px solid white;
  background-color: transparent;
}
.Text-Panel p { 
  white-space: normal;
  text-align: justify;
  position: relative;
  left: 70px;
  bottom: -130px;
  width: 400px;
  color: white;
  z-index: 4;
}
.Text-Panel h1 { 
  position: relative;
  font-size: 40px;
  font-weight: normal;
  top: 110px;
  left: 70px;
  color: white;
  z-index: 4;
 }
.photo-holder { 
  display: inline-block;
  vertical-align: top;
  position: relative;
  margin: 115px 50px 50px 75px;
  height: 620px;
  width: 500px;
  background-color: transparent;
  }
.photo-holder img {
  position: relative;
  top: 10px;
  height: 600px;
  object-fit: contain;
 }
.second-block {
  position: absolute;
  top: 1650px;
  margin: 0px auto;
  height: 705px;
  width: 100%;
  background-color: black;
  opacity: 0.85; 
  z-index: 2;
} 
.second-block table { 
  vertical-align: top;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 920px;
  border: 1px solid black;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 133px;
  text-align: left;
  background-color: rgb(220,220,220);
  color: black;
 }
.second-block table tr:nth-child(1) {
 position: relative;
  font-size: 35px;
  height: 95px;
  left: 30px;
  }
.second-block table tr:nth-child(5), tr:nth-child(9) {
  height: 20px; 
}
.icon-one { 
  position: absolute; 
  left: 960px;
  bottom: 325px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
.icon-two { 
  position: absolute; 
  left: 960px;
  bottom: 413px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .icon-three { 
  position: absolute; 
  left: 960px;
  bottom: 238px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .edu-button { 
  position: absolute; 
  bottom: 145px;
  left: 1075px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid black;
  font-family: Times;
  font-size: 15px;
  color: black;
  background-color: transparent; 
  }
  .edu-button:hover { 
  color: black;
  background-color: white; 
  }
.second-block .campus-building {
  vertical-align: top;
  display: inline-block; 
  position: relative;
  top: 100px;
  right: 400px;
  object-fit: cover; 
  height: 500px; 
  width: 800px;
 }
.third-block {
  position: absolute;
  top: 3455px;
  margin: 0px auto;
  height: 705px;
  width: 100%;
  background-color: rgb(40,40,40); 
  z-index: 3;
} 
.third-block table { 
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 90px;
  background-color: rgb(200,200,200);
  color: black;
  border: 1px solid black ;
 }
.third-block table tr:nth-child(1) {
 position: relative;
  font-size: 35px;
  height: 95px;
  left: -25px;
  }
.third-block table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13)  {
  height: 20px; 
}
.third-block .icon-one { 
  position: absolute; 
  left: 90px;
  bottom: 327px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
.third-block .icon-two { 
  position: absolute; 
  left: 90px;
  bottom: 415px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .third-block .icon-three { 
  position: absolute; 
  left: 90px;
  bottom: 240px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
  .third-block .icon-four { 
  position: absolute; 
  left: 90px;
  bottom: 150px;
  height: 60px;
  width: 60px;
  z-index: 3;
  }
 .edu-button { 
  position: absolute; 
  bottom: 145px;
  left: 1075px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid black;
  font-family: Times;
  font-size: 15px;
  color: black;
  background-color: transparent; 
  }
  .edu-button:hover { 
  color: black;
  background-color: white; 
  }
.third-block .campus-building {
  vertical-align: top;
  display: inline-block; 
  position: relative;
  top: 100px;
  left: 595px;
  object-fit: cover; 
  height: 500px; 
  width: 800px;
 }
.fourth-block {
  position: absolute;
  top: 3060px;
  margin: 0px auto;
  height: 705px;
  width: 100%;
  background-color: rgb(180,180,180);
} 
.fourth-block table { 
  position: absolute;
  top: 100px;
  left: 50px;
  text-align: left;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 90px;
  background-color: rgb(180,180,180);
  color: black;
  border: 1px solid black ;
 }
.fourth-block table tr:nth-child(1) {
 position: relative;
  font-size: 35px;
  height: 95px;
  left: -25px;
  }
.fourth-block table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13)  {
  height: 20px; 
}
.fourth-block .icon-one { 
  position: absolute; 
  left: 90px;
  bottom: 327px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
.fourth-block .icon-two { 
  position: absolute; 
  left: 90px;
  bottom: 415px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 .fourth-block .icon-three { 
  position: absolute; 
  left: 90px;
  bottom: 240px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
  .fourth-block .icon-four { 
  position: absolute; 
  left: 90px;
  bottom: 150px;
  height: 60px;
  width: 60px;
  z-index: 3;
  }
 .edu-button { 
  position: absolute; 
  bottom: 145px;
  left: 1075px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid black;
  font-family: Times;
  font-size: 15px;
  color: black;
  background-color: transparent; 
  }
  .edu-button:hover { 
  color: black;
  background-color: white; 
  }
.fourth-block .campus-building {
  vertical-align: top;
  display: inline-block; 
  position: relative;
  top: 100px;
  left: 595px;
  object-fit: cover; 
  height: 500px; 
  width: 800px;
 }


  #fifth-wall {
    display: none;
  background-position: 420px 0px;
  position: relative;
  top: 2460px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
} 
#fifth-wall:hover { 
  transform: scale(1.01);
  }
#fifth-wall table { 
  position: absolute;
  top: 0px;
  text-align: left; 
  width: 550px;
  padding-top: 30px;
  padding-left: 135px;
  padding-bottom: 90px;
  border-left: 1px solid white;
  background-color: rgb(20,20,20);
  z-index: 2 ;
 }
 #fifth-wall table tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 95px;
  left: -40px;
  }
#fifth-wall table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px; 
 }
 #fifth-wall .edu-button { 
  position: absolute; 
  bottom: 55px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
  }
  #fifth-wall .edu-button:hover { 
  color: black;
  background-color: white; 
  }
  #fifth-wall .icon-one { 
  position: absolute; 
  left: 60px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 #fifth-wall .icon-two { 
  position: absolute; 
  left: 60px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 #fifth-wall .icon-three { 
  position: absolute; 
  left: 60px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 #fifth-wall .icon-four { 
  position: absolute; 
  left: 60px;
  bottom: 93px;
  height: 60px;
  width: 60px;
  z-index: 3;
  }

  /*ajsdhkajshdkjasd*/
  #fifth-wall table.two { 
  position: absolute;
  top: 0px;
  left: 550px;
  text-align: center; 
  width: 550px;
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 36px;
  
  background-color: rgb(20,20,20);
  z-index: 2 ;
 }
 #fifth-wall table.two tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 80px;
  left: 0px;
  }
#fifth-wall table.two tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px; 
 }
/*End Partial Modification*/
#sixth-wall {
  display: none;
  background-image: url("images/book-stack.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 320px 0px;
  position: relative;
  top: 1870px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
} 
#sixth-wall:hover { 
  transform: scale(1.01);
  }
#sixth-wall table { 
  position: absolute;
  top: 0px;
  text-align: left;
  width: 550px;
  padding-top: 30px;
  padding-left: 135px;
  padding-bottom: 109px;
  background-color: rgb(20,20,20);
  z-index: 2 ;
 }
 #sixth-wall table tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 95px;
  left: -60px;
  }
#sixth-wall table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px; 
 }
 #sixth-wall .edu-button { 
  position: absolute; 
  bottom: 55px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
  }
  #sixth-wall .edu-button:hover { 
  color: black;
  background-color: white; 
  }
  #sixth-wall .icon-one { 
  position: absolute; 
  left: 60px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 #sixth-wall .icon-two { 
  position: absolute; 
  left: 60px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 #sixth-wall .icon-three { 
  position: absolute; 
  left: 60px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
 }
 #sixth-wall .icon-four { 
  position: absolute; 
  left: 60px;
  bottom: 93px;
  height: 60px;
  width: 60px;
  z-index: 3;
  }
#sixth-wall .edu-button { 
  position: absolute; 
  bottom: 95px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
  z-index: 3;
  }
  #sixth-wall .edu-button:hover { 
  color: black;
  background-color: white; 
  }
#wall { 
  display: none;
  background-image: url("images/LaptopImage2.jpeg");
  background-repeat: no-repeat;
  background-size: 1100px 485px;
  position: relative;
  top: -80px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
 }
 #wall:hover { 
  transform: scale(1.01);
  }
#wall h1, h3, table { 
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
}
#wall  h1 { 
  font-size: 35px;
}
#wall  h3 { 
  font-size: 25px;
}
#wall table {
  position: relative;
  top: 40px;
  margin: auto;
  width: 400px;
  color: white;
}
#wall .title-table { 
  height: 45px;
}
#wall tr{ 
  height: 30px;
}
#wall button.quote { 
  position: relative;
  top: 80px ;
  left: 138.25px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
}
#wall button.quote:hover { 
  color: black;
  background-color: white;
 }
.bord { 
  position: relative;
  top: 50px;
  margin: auto;
  height: 450px ;
  width: 450px;
  border: 1px solid white;
  background-color: rgb(20,20,20);
}
.bord .form { 
  position: relative;
  top: 40px;
  left: 60px;
  width: 130px;
  color: white;
  display: none;
  z-index: 1;
 }
 .bord .form div { 
    width: 330px;
    padding-top: 12px;
 }
 .bord .form input {
  margin-top: 2px;
  height: 25px; 
  font-family: Times; 
  font-size: 15px;
  }
.bord .form label.last-name-label { 
  position: relative;
  left: 92px;
}
.bord .form input.first-name {
  margin-right: 6px;  
  width: 156px;
}  

.bord .form input.last-name {  
  margin-left: 6px;  
    width: 156px;
}

.bord .form .email { 
    width: 330px;
 }
 .bord .form textarea.comments { 
    margin-top: 2px;
    height: 150px;
    width: 330px;
    font-family: Times; 
    font-size: 15px;
    resize: none; 
 }
 #wall .form button.submit {
  position: absolute;
  top: 327px;
  left: 78px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
}
#wall .form button.submit:hover { 
  color: black;
  background-color: white;
 }
 .secondWall { 
  display: none;
  position: relative;
  top: -20px;
  margin: 0px auto;
  height: 550px;
  width: 1100px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
 }
 .secondWall:hover { 
  transform: scale(1.01);
  } 
.secondWall h1 { 
  position: relative;
  top: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: normal;
 }
.secondWall .linkedin { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 200px;
}
.secondWall .github { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 323px;
  filter: invert(100);
}
.secondWall .gmail { 
  position: relative;
  object-fit: contain;
  width: 200px;
  top: 140px;
  left: 446px;
}
/*Define vars we'll be using*/
.form-two {
  position: absolute;
  top: 125px;
  left: 175px;
  display: none;
 }
.circle-loader {
  margin-bottom: 3.5em;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  top: -10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 6em;
  height: 6em;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
}
.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
}
.checkmark:after {
  opacity: 1;
  height: 2.8em;
  width: 1.25em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.45em;
  top: 3.1em;
  position: absolute;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
  }
  40% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
  }
  100% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
  }
}
.form-two div.output-message { 
  position: absolute;
  top: 110px;
  left: -49px;
  color: white; 
  font-size: 25px;
  font-weight: bold;
  display: none; 
 }
 .form-two div.output-message-two {
  position: absolute; 
  top: 148px;
  left: -95px;
  color: white ;
  font-size: 15px;
  display: none; 
 }
.form-two button.submit-reset {
  position: absolute;
  top: 243px;
  left: -37px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
  display: none;
}
.form-two button.submit-reset:hover { 
  color: black;
  background-color: white;
 }
}
@media (max-width: 1199px) { 
html, body {
  max-width: 100%;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
  height: 100%;
  width: 100%;
  display: none;
}
#header {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 20px 0px 30px 0px;
  width: 100%;
  max-width: 100%; 
  z-index: 5;
  transition: background-color ease-in 0.07s;
  display: none; 
}
.name {
  font-size: 30px;
  color: grey;
  padding: 0 900px 0 40px;
  cursor: pointer;
  transition: color ease-in 0.07s;
  display: none;
}
.name:hover { 
  color: rgb(180,180,180) !important;
  display: none;
 }
table.scroll-anchors { 
  position: absolute;
  right: 20px;
  display: inline;
  display: none; 
 }
table.scroll-anchors a:hover{
  color: rgb(180,180,180) !important;
  cursor: pointer;
  display: none;
}
a.about {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
a.education {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
a.work {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
a.certificates {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
a.volunteer {
  position: relative;
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
a.tutoring {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
a.connect {
  color: grey;
  margin: 0 20px;
  transition: color ease-in 0.07s;
  display: none;
}
img.jet-engine {
  margin: 0px;
  padding: 0px;
  object-fit: cover;
  overflow: hidden; 
  height: 800px;
  width: 100%;
  z-index: 2;
  filter: grayscale(100%);
  display: none;
}
.tint-block {
  position: relative;
  bottom: 904px;
  height: 900px;
  width: 100%;
  max-width: 100%;
  background-color: black;
  opacity: 0.85;
  z-index: 3;
  display: none;
}
.big-name {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -1385px;
  font-family: Times;
  font-size: 50px;
  color: white;
  border-top: 1px solid white;
  padding: 10px 0px;
  width: 380px;
  z-index: 3;
  display: none;
}
.work-titles {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: -1400px;
  font-family: Times;
  font-size: 20px;
  color: white;
  padding: 10px 0px 20px 0px;
  border-bottom: 1px solid white;
  width: 380px;
  z-index: 3;
  display: none;
}
.tint-back-panel { 
  position: relative;
  bottom: 0px;
  height: 4670px;
  width: 100%;
  max-width: 100%;
  background-color: hsla(0,0%,9%,0.2);
  z-index: 2;
  display: none;
 }
.About {
  position: relative;
  background-color: white;
  bottom: 1065px;
  height: 720px;
  width: 100%;
  z-index: 3;
  display: none;
}
.center-device {  
  background-color: transparent;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: none;
 }
 .photo-holder { 
  position: relative;
  top: -550px;
  left: 643px;
  height: 620px;
  width: 500px;
  background-color: transparent;
  z-index: 1;
  display: none;
  }
  .photo-holder img {
  position: relative;
  top: 10px;
  object-fit: contain;
  height: 600px;
  box-shadow: 5px 5px 5px grey; 
  z-index: 2; 
  transition: all .2s ease-in-out;
  display: none;
 }
 .photo-holder img:hover {
  transform: scale(1.01);
  display: none;
 }
.Text-Panel {
  position: relative;
  margin: 0px ;
  left: 0px;
  top: 60px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  height: 640px;
  width: 540px;
  z-index: 3;
  transition: all .2s ease-in-out;
  display: none;
}
.Text-Panel:hover {
  transform: scale(1.01);
  display: none;
}
.Text-Panel p { 
  white-space: normal;
  text-align: justify;
  position: relative;
  left: 70px;
  bottom: -130px;
  width: 400px;
  color: white;
  z-index: 4;
  display: none;
}
.Text-Panel h1 { 
  position: relative;
  font-size: 40px;
  font-weight: normal;
  top: 110px;
  left: 70px;
  color: white;
  z-index: 4;
  display: none;
 }
.background-image {
  position: relative;
  object-fit: contain;
  width: 900px;
  left: 430px;
  bottom: 270px;
  z-index: 1;
  opacity: 0.3;
  display: none;
}
.block-image {
  position: absolute;
  top: 1646px;
  margin: 0px ;
  object-fit: contain;
  background-color: black;
  padding: 20px 0;
  height: 340px;
  width: 1440px;
  opacity: 1;
  z-index: 1;
  display: none;
}
#third-wall {
  background-image: url("images/engineeringSchool.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 420px 0px;
  position: relative;
  top: -440px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
  display: none;
} 
#third-wall:hover { 
  transform: scale(1.01);
  display: none;
  }
#third-wall table { 
  position: absolute;
  top: 0px;
  text-align: left;
  width: 440px;
  padding-top: 30px;
  padding-left: 115px;
  padding-bottom: 133px;
  background-color: rgb(20,20,20);
  display: none;
 }
 #third-wall table tr:nth-child(1) {
 position: relative;
  font-size: 35px;
  height: 95px;
  left: 30px;
  display: none;
  }
#third-wall table tr:nth-child(5), tr:nth-child(9) {
  height: 20px;
  display: none; 
 }
.icon-one { 
  position: absolute; 
  left: 40px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 .icon-two { 
  position: absolute; 
  left: 40px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 .icon-three { 
  position: absolute; 
  left: 40px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 .edu-button { 
  position: absolute; 
  bottom: 95px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;
  display: none; 
  }
  .edu-button:hover { 
  color: black;
  background-color: white;
  display: none; 
  }
.bottom-block { 
  position: absolute;
  top: 480px;
  background-color: rgb(20,20,20);
  height: 70px;
  width: 1100px;
  z-index: 1;
  display: none;
 }
 #fourth-wall {
  background-image: url("images/ccsr.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 420px 0px;
  position: relative;
  top: -350px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
  display: none;
} 
#fourth-wall:hover { 
  transform: scale(1.01);
  display: none;
  }
#fourth-wall table { 
  position: absolute;
  top: 0px;
  text-align: left;
  width: 440px;
  padding-top: 30px;
  padding-left: 135px;
  padding-bottom: 90px;
  background-color: rgb(20,20,20);
  z-index: 2 ;
  display: none;
 }
 #fourth-wall table tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 95px;
  left: -40px;
  display: none;
  }
#fourth-wall table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px;
  display: none; 
 }
 #fourth-wall .edu-button { 
  position: absolute; 
  bottom: 55px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;
  display: none; 
  }
  #fourth-wall .edu-button:hover { 
  color: black;
  background-color: white;
  display: none; 
  }
  #fourth-wall .icon-one { 
  position: absolute; 
  left: 60px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #fourth-wall .icon-two { 
  position: absolute; 
  left: 60px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #fourth-wall .icon-three { 
  position: absolute; 
  left: 60px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #fourth-wall .icon-four { 
  position: absolute; 
  left: 60px;
  bottom: 93px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
  }
  #fifth-wall {
  background-position: 420px 0px;
  position: relative;
  top: -260px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
  display: none;
} 
#fifth-wall:hover { 
  transform: scale(1.01);
  display: none;
  }
#fifth-wall table { 
  position: absolute;
  top: 0px;
  text-align: left; 
  width: 550px;
  padding-top: 30px;
  padding-left: 135px;
  padding-bottom: 90px;
  border-left: 1px solid white;
  background-color: rgb(20,20,20);
  z-index: 2 ;
  display: none;
 }
 #fifth-wall table tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 95px;
  left: -40px;
  display: none;
  }
#fifth-wall table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px;
  display: none; 
 }
 #fifth-wall .edu-button { 
  position: absolute; 
  bottom: 55px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;
  display: none; 
  }
  #fifth-wall .edu-button:hover { 
  color: black;
  background-color: white;
  display: none; 
  }
  #fifth-wall .icon-one { 
  position: absolute; 
  left: 60px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #fifth-wall .icon-two { 
  position: absolute; 
  left: 60px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #fifth-wall .icon-three { 
  position: absolute; 
  left: 60px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #fifth-wall .icon-four { 
  position: absolute; 
  left: 60px;
  bottom: 93px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
  }

  /*ajsdhkajshdkjasd*/
  #fifth-wall table.two { 
  position: absolute;
  top: 0px;
  left: 550px;
  text-align: center; 
  width: 550px;
  padding-top: 30px;
  padding-left: 0px;
  padding-bottom: 36px;
  display: none;
  
  background-color: rgb(20,20,20);
  z-index: 2 ;
  display: none;
 }
 #fifth-wall table.two tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 80px;
  left: 0px;
  display: none;
  }
#fifth-wall table.two tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px;
  display: none; 
 }
/*End Partial Modification*/
#sixth-wall {
  background-image: url("images/book-stack.jpeg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 320px 0px;
  position: relative;
  top: -170px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
  display: none;
} 
#sixth-wall:hover { 
  transform: scale(1.01);
  display: none;
  }
#sixth-wall table { 
  position: absolute;
  top: 0px;
  text-align: left;
  width: 550px;
  padding-top: 30px;
  padding-left: 135px;
  padding-bottom: 109px;
  background-color: rgb(20,20,20);
  z-index: 2 ;
  display: none;
 }
 #sixth-wall table tr:nth-child(1) { 
  position: relative;
  font-size: 35px;
  height: 95px;
  left: -60px;
  display: none;
  }
#sixth-wall table tr:nth-child(5), tr:nth-child(9), tr:nth-child(13) {
  height: 20px;
  display: none; 
 }
 #sixth-wall .edu-button { 
  position: absolute; 
  bottom: 55px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;
  display: none; 
  }
  #sixth-wall .edu-button:hover { 
  color: black;
  background-color: white;
  display: none; 
  }
  #sixth-wall .icon-one { 
  position: absolute; 
  left: 60px;
  bottom: 270px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #sixth-wall .icon-two { 
  position: absolute; 
  left: 60px;
  bottom: 358px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #sixth-wall .icon-three { 
  position: absolute; 
  left: 60px;
  bottom: 183px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
 }
 #sixth-wall .icon-four { 
  position: absolute; 
  left: 60px;
  bottom: 93px;
  height: 60px;
  width: 60px;
  z-index: 3;
  display: none;
  }
#sixth-wall .edu-button { 
  position: absolute; 
  bottom: 95px;
  left: 135px; 
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent; 
  z-index: 3;
  display: none;
  }
  #sixth-wall .edu-button:hover { 
  color: black;
  background-color: white;
  display: none; 
  }
#wall { 
  background-image: url("images/LaptopImage2.jpeg");
  background-repeat: no-repeat;
  background-size: 1100px 485px;
  position: relative;
  top: -80px;
  margin: 0px auto ;
  height: 550px;
  width: 1100px;
  background-color: rgb(20,20,20);
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
  display: none;
 }
 #wall:hover { 
  transform: scale(1.01);
  }
#wall h1, h3, table { 
  position: relative;
  top: 30px;
  text-align: center;
  font-weight: normal;
  color: white;
  display: none;
}
#wall  h1 { 
  font-size: 35px;
  display: none;
}
#wall  h3 { 
  font-size: 25px;
  display: none;
}
#wall table {
  position: relative;
  top: 40px;
  margin: auto;
  width: 400px;
  color: white;
  display: none;
}
#wall .title-table { 
  height: 45px;
  display: none;
}
#wall tr{ 
  height: 30px;
  display: none;
}
#wall button.quote { 
  position: relative;
  top: 80px ;
  left: 138.25px;
  border-radius: 10%;
  height: 45px ;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;
  display: none; 
}
#wall button.quote:hover { 
  color: black;
  background-color: white;
  display: none;
 }
.bord { 
  position: relative;
  top: 50px;
  margin: auto;
  height: 450px ;
  width: 450px;
  border: 1px solid white;
  background-color: rgb(20,20,20);
  display: none;
}
.bord .form { 
  position: relative;
  top: 40px;
  left: 60px;
  width: 130px;
  color: white;
  display: none;
  z-index: 1;
  display: none;
 }
 .bord .form div { 
    width: 330px;
    padding-top: 12px;
    display: none;
 }
 .bord .form input {
  margin-top: 2px;
  height: 25px; 
  font-family: Times; 
  font-size: 15px;
  display: none;
  }
.bord .form label.last-name-label { 
  position: relative;
  left: 92px;
  display: none;
}
.bord .form input.first-name {
  margin-right: 6px;  
  width: 156px;
  display: none;
}  

.bord .form input.last-name {  
  margin-left: 6px;  
    width: 156px;
    display: none;
}

.bord .form .email { 
    width: 330px;
    display: none;
 }
 .bord .form textarea.comments { 
    margin-top: 2px;
    height: 150px;
    width: 330px;
    font-family: Times; 
    font-size: 15px;
    resize: none;
    display: none; 
 }
 #wall .form button.submit {
  position: absolute;
  top: 327px;
  left: 78px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;
  display: none;  
}
#wall .form button.submit:hover { 
  color: black;
  background-color: white;
  display: none;
 }
 .secondWall { 
  position: relative;
  top: -20px;
  margin: 0px auto;
  height: 550px;
  width: 1100px;
  background-color: black;
  box-shadow: 5px 5px 5px grey;
  transition: all .2s ease-in-out;
  display: none;
 }
 .secondWall:hover { 
  transform: scale(1.01);
  } 
.secondWall h1 { 
  position: relative;
  top: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: normal;
  display: none;
 }
.secondWall .linkedin { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 200px;
  display: none;
}
.secondWall .github { 
  position: relative;
  object-fit: contain;
  width: 150px;
  top: 150px;
  left: 323px;
  filter: invert(100);
  display: none;
}
.secondWall .gmail { 
  position: relative;
  object-fit: contain;
  width: 200px;
  top: 140px;
  left: 446px;
  display: none;
}
/*Define vars we'll be using*/
.form-two {
  position: absolute;
  top: 125px;
  left: 175px;
  display: none;
  display: none;
 }
.circle-loader {
  margin-bottom: 3.5em;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: #5cb85c;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  top: -10px;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: 6em;
  height: 6em;
  display: none;
}

.load-complete {
  -webkit-animation: none;
  animation: none;
  border-color: #5cb85c;
  transition: border 500ms ease-out;
  display: none;
}
.checkmark {
  display: none;
}
.checkmark.draw:after {
  animation-duration: 800ms;
  animation-timing-function: ease;
  animation-name: checkmark;
  transform: scaleX(-1) rotate(135deg);
  display: none;
}
.checkmark:after {
  opacity: 1;
  height: 2.8em;
  width: 1.25em;
  transform-origin: left top;
  border-right: 3px solid #5cb85c;
  border-top: 3px solid #5cb85c;
  content: "";
  left: 1.45em;
  top: 3.1em;
  position: absolute;
  display: none;
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
    display: none;
  }
  100% {
    transform: rotate(360deg);
    display: none;
  }
}
@keyframes checkmark {
  0% {
    height: 0;
    width: 0;
    opacity: 1;
    display: none;
  }
  20% {
    height: 0;
    width: 1.25em;
    opacity: 1;
    display: none;
  }
  40% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
    display: none;
  }
  100% {
    height: 2.8em;
    width: 1.25em;
    opacity: 1;
    display: none;
  }
}
.form-two div.output-message { 
  position: absolute;
  top: 110px;
  left: -49px;
  color: white; 
  font-size: 25px;
  font-weight: bold;
  display: none;
  display: none; 
 }
 .form-two div.output-message-two {
  position: absolute; 
  top: 148px;
  left: -95px;
  color: white ;
  font-size: 15px;
  display: none;
  display: none; 
 }
.form-two button.submit-reset {
  position: absolute;
  top: 243px;
  left: -37px;
  border-radius: 10%;
  height: 45px;
  width: 155px;
  border: 1px solid white;
  font-family: Times;
  font-size: 15px;
  color: white;
  background-color: transparent;  
  display: none;
  display: none;
}
.form-two button.submit-reset:hover { 
  color: black;
  background-color: white;
  display: none;
 }
}


 }
